.config/nvim/lazy-lock.json
.config/fish/fish_variables
.config/fish/conf.d/
.config/yazi/flavors/
Session.vim
node_modules
package.json
package-lock.json
bun.lock
opencode.json
../cosmic/com.system76.CosmicPortal/v1/screenshot
